* {
  margin: 0;
  padding: 0;
  border: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  /* background-color: yellow; */
  border: 2px solid #e9e2e2e0;
}
.log span {
  color: #318616;
}

.nav-manu {
  display: flex;
  justify-content: end;
  gap: 20px;
  padding: 20px;
}

.log {
  border-right: 2px solid rgba(238, 236, 236, 0.829);
  height: 100%;
}
.log h1 {
  margin-top: 8px;
  color: rgb(247, 204, 14);
  font-size: 2.5rem;
  text-align: center;
  margin-left: 30px;
  margin-right: 2vw;
}
.requirement-info {
  margin: 10px;
}
.requirement-info div {
  padding: 10px;
}

.searchbar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.searchbar i {
  background-color: #2c54f4;
  height: 46px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
}
.searchbar input {
  outline: none;
  border: none;
  background-color: #f8f8f8;
  width: 473px;
  height: 46px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 20px;
}
.loginbtn button {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}
.cartbtn button {
  width: 112px;
  height: 52px;
  background-color: #318616;
  border-radius: 10px;
  border: none;
  font-weight: 900;
  color: #fff;
}
.btnsize {
  padding-left: 30px;
  padding-right: 30px;
}

main {
  width: 100%;
  height: 100vh;
  /* background-color: red; */
}
.content {
  width: 95%;
  height: 100vh;
  /* background-color: green; */
  margin: 0 auto 10px;
}
.single h3 {
  /* background-image: url("/shopping-healthy-food-bg\ banner.jpg"); */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: green;
}
.single img {
  width: 100%;
  height: 550px;
}
.four_box {
  display: flex;
  overflow: hidden;
}
.box img {
  width: 335px;
  height: 175px;
  /* background-color: #fff; */
  margin: 2vh;
}
.eight_boxes {
  display: flex;
}
.box1 img {
  width: 100%;
  height: 100%;
}
.allshops {
  display: flex;
  justify-content: space-evenly;
}
.shop {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 181px;
  height: 287px;
  margin-top: 15px;
  border-radius: 10px;
  overflow: hidden;
}
.shop img {
  width: 100%;
  height: 50%;
}
.innershop {
  margin: 10px;
}
.one {
  display: flex;
  align-items: center;
  justify-content: center;
}
.one img {
  height: 140px;
  width: 140px;
}
.two {
  /* border: 1px solid red; */
  line-height: 25px;
  padding: 0 20px;
}
.btn {
  display: flex;
  justify-content: space-between;
}
.btn button {
  color: #318616;
  background: #f7fff9;
  width: 68px;
  height: 33px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #318616;
}

.error {
  border-color: red;
}

.meanu {
  font-size: 2.5rem;
  display: none;
}

@media (max-width: 720px) {
  .meanu {
    display: block;
  }
  .loginbtn button {
    display: none;
  }
}
